strong {
    background-color: darkslategray;
    color: gainsboro;
    padding: 5px;
    display: inline-block;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}
body {
    margin: -5px 10px;
    padding: 5px;
    background-color: rgb(240, 255, 240);
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);;
}
pre {
    white-space: pre-wrap;
}
div {
    background-color: palegreen;
    padding: 7px;
    margin: 10px auto;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: midnightblue;
    width: 50%;

}
